html {
    text-align: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: medium;
}

body {
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);

}

#navbar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background: whitesmoke;
    z-index: 999;
    padding: 20px;
    opacity: 0.95;
    cursor: pointer;
    text-align: left;
}

.navLink {
    padding-right: 20px;

}

.container {
    /* display: flex;
    flex-direction: column; */
    margin: 20px;
    padding: 20px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    box-sizing: border-box;
    box-shadow: 3px 14px 33px -2px rgba(0, 0, 0, 0.75);
    outline: none;
    border-radius: 10px;
}

.innerContainer {
    text-align: left;
    font-size: medium;
}

#searchBarContainer {
    padding: 0 0 20px 0;
    max-width: 50%;
}

#searchBar {
    width: 250px;
    border-style: none;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    line-height: 25px;
    font-size: medium
}


.list {
    list-style: none;

}

input {

    flex: 0 1 auto;
}